@using CrimeWatch.Models
@model List<County>
@{
    ViewBag.Title = "Clusters";
    Layout = "~/Views/Shared/_LayoutFullscreen.cshtml";
}

<button class="btn btn-warning" onclick="location.href='@Url.Action("MyPortal", "Home")'">User Portal</button>

<h2 class="title">Counties by Crime Rate</h2>

<div class="container centeredElement">
    <br />
    <table id="counties_cluster_table" class="table">
        <thead>
            <tr>
                <th>
                    @Html.LabelFor(x => x.First().Name)
                </th>
                <th>
                    @Html.LabelFor(x => x.First().CrimesPer1000)
                </th>
                <th>
                    @Html.LabelFor(x => x.First().CrimeRate)
                </th>
            </tr>
        </thead>
        @foreach (var county in Model.OrderBy(x => x.CrimeRate.Rank))
        {
            <tr>
                <td>                    
                    @Html.DisplayFor(modelItem => county.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => county.CrimesPer1000)
                </td>                
                <td>
                    @Html.DisplayFor(modelItem => county.CrimeRate.Rank) 
                    @Html.DisplayFor(modelItem => county.CrimeRate.Name) 
                </td>
            </tr>
        }
    </table>
</div>


<script type="text/javascript">
    window.onload = function () {
        colorRows();
    };
</script>