<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil" rel="stylesheet">  
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top bar">
        <br />
        <div class="container" style="width:90%; margin:0 auto;">
            <div class="row">
                <a href="#" onclick="location.href='@Url.Action("Index", "Home")'">
                    <img src="~/Content/Images/layoutLogo.png" class="layoutLogo" />
                </a>
                <div style="float:right">
                    @if (Request.IsAuthenticated)
                    {
                        <a class="btn layoutBtn" onclick="location.href='@Url.Action("MyPortal", "Home")'">User Portal <span class="glyphicon glyphicon-th"></span></a>
                        if (User.IsInRole("Administrators"))
                        {
                            <a class="btn layoutBtn" onclick="location.href='@Url.Action("AdminPage", "Account")'">Admin Page<span class="glyphicon glyphicon-user"></span></a>
                        }
                    }
                    else
                    {
                        <button class="btn layoutBtn" onclick="location.href='@Url.Action("Login", "Account")'"> Login </button>
                        <p class="inline" style="position:relative;top:4px;">or</p>
                        <button class="btn layoutBtn" onclick="location.href='@Url.Action("Register", "Account")'"> Register </button>
                    }
                </div>
            </div>
            <div class="row">
                <div style="float:left">
                    <a class="layoutBtn btn" id="What">What is CrimeWatch ?</a>
                    <a class="layoutBtn btn" id="How">How does it work ?</a>
                    <a class="layoutBtn btn" id="Contact">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
    <button class="btn backToTopBtn btn-default"><span class="glyphicon glyphicon-arrow-up"></span></button>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/homepage.js")
    @RenderSection("scripts", required: false)
</body>