<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil" rel="stylesheet">

<style>
    .layoutBtn {
        color: white;
        font-size: 17px;
        border: none;
        background: none;
        position: relative;
        margin-top: 3%;
    }

    .layoutBtn:hover {
        color: white;
        text-shadow: 0px 0px 2px white;
        outline: none;
    }

    .layoutBtn:focus {
        color: white;
        outline: none;
    }


    #dropdownContainer {
        position: absolute;
        top: 50px;
        color: black;
    }

    .dropdown-item {
        font-size: 15px;
        color: black;
        display: block;
        margin-top: 10px;
        margin-left: 10px;
    }

        .dropdown-item:hover {
            font-size: 15px;
            color: black;
            display: block;
            margin-top: 10px;
            margin-left: 10px;
        }

    .layoutLogin {
        font-weight: 600;
        color: #fff !important;
        text-decoration: none;
        font-size: 16px !important;
        background-color: transparent;
    }

    
    .backToTopBtn {
        right: 15px;
        bottom: 40px;
        color: black;
        position: fixed;
        font-size: 20px;
        width: 50px;
        height: 40px;
        border: 1px solid gray;
    }

    .backToTopBtn:hover {
        outline: none;
        color: black;
        font-size: 20px;
        border: 1px solid gray;
        box-shadow: rgb(136, 136, 136) 3px 3px 10px;        
        background-color:white;
    }

    .backToTopBtn:focus {
        outline:none;        
        color: black;
        font-size: 20px;
        border: 1px solid gray;
        background-color:white;
        box-shadow: rgb(136, 136, 136) 3px 3px 10px;
    }
</style>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top bar">
        <br />
        <div class="container" style="width:90%; margin:0 auto;">
            <div class="row">
                <a href="#" onclick="location.href='@Url.Action("Index", "Home")'">
                    <img src="~/Content/Images/layoutLogo.png" class="layoutLogo" />
                </a>
                <div style="float:right">
                    @if (Request.IsAuthenticated)
                    {
                        @*<a class="layoutBtn btn" onclick="location.href='@Url.Action("Index", "Map")'">Map</a>
                            <div class="dropdown" style="display:inline">
                                <button class="btn layoutBtn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    My Account
                                </button>
                                <div id="dropdownContainer" class="dropdown-menu container" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Change Email</a>
                                    <a class="dropdown-item" href="#">Change Password</a>
                                    <a class="dropdown-item" style="padding-bottom:10px;" href="#">My Data</a>
                                </div>
                            </div>
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", style = "display:inline;" }))
                            {

                                @Html.AntiForgeryToken()
                                <a class="layoutBtn btn" style="color:lightcoral" href="javascript:document.getElementById('logoutForm').submit()">Log Out</a>

                            }*@

                    <a class="btn layoutLogin" onclick="location.href='@Url.Action("MyPortal", "Home")'">User Portal <span class="glyphicon glyphicon-th"></span></a>
                    }
                    else
                    {
                        <button class="btn layoutLogin" onclick="location.href='@Url.Action("Login", "Account")'"> Login </button>
                        <p style="display:inline; position:relative;top:4px;">or</p>
                        <button class="btn layoutLogin" onclick="location.href='@Url.Action("Register", "Account")'"> Register </button>
                    }
                </div>
            </div>
            <div class="row">
                <div style="float:left">
                    <a class="layoutBtn btn" id="What">What is CrimeWatch ?</a>
                    <a class="layoutBtn btn" id="How">How does it work ?</a>
                    <a class="layoutBtn btn" id="Faq">FAQ</a>
                    <a class="layoutBtn btn" id="Contact">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
    <button class="btn backToTopBtn btn-default"><span class="glyphicon glyphicon-arrow-up"></span></button>

    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>


<script>

    $("#What").click(function () {
        $('html, body').animate({
            scrollTop: $("#one").offset().top - 200
        }, 1000);
    });

    $("#How").click(function () {
        $('html, body').animate({
            scrollTop: $("#two").offset().top - 200
        }, 1000);
    });

    $("#Faq").click(function () {
        $('html, body').animate({
            scrollTop: $("#three").offset().top - 200
        }, 1000);
    });

    $("#Contact").click(function () {
        $('html, body').animate({
            scrollTop: $("#footer").offset().top
        }, 1000);
    });

    $(".backToTopBtn").click(function () {
        $('html, body').animate({
            scrollTop: 0
        }, 1000);
    });

    $('.dropdown-toggle').click(function () {
        $(this).next('.dropdown-menu').slideToggle(300);
    });
</script>