@model CrimeWatch.Models.AspNetUser
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}

<div class="row" style="margin-top:7%; color:black">
    @if (Model.EmailConfirmed)
    {
    <div class="col-lg-9" style="text-align:center">  
        <br />
        <div class="container customCont" style="height:412px; width:85%">
            <h2 class="title">Dashboard</h2>
            <br />
            <div class="row">
                <button class="menuBtn" onclick="location.href='@Url.Action("MapParameters", "Map")'">Crime Map<br /><span class="glyphicon glyphicon-map-marker portalGlyph"></span></button>
                <button class="menuBtn" onclick="location.href='@Url.Action("Stats", "Home")'">Statistics<br /><span class="glyphicon glyphicon-list-alt portalGlyph"></span></button>
                <button class="menuBtn" onclick="location.href='@Url.Action("Graphs", "Map")'">Graphs<br /><span class="glyphicon glyphicon-stats portalGlyph"></span></button>
                <button class="menuBtn" onclick="location.href='@Url.Action("Upload", "Home")'">Upload Data<br /><span class="glyphicon glyphicon-upload portalGlyph"></span></button>
            </div>
            <br /> 
            <div class="row">
                <button class="menuBtn" onclick="location.href='@Url.Action("Index", "Home")'">Prediction <br /><span class="glyphicon glyphicon-random portalGlyph"></span></button>
                <button class="menuBtn" onclick="location.href='@Url.Action("Index", "Home")'">My Predictions<br /><span class="glyphicon glyphicon-cog portalGlyph"></span></button>
                <button class="menuBtn" onclick="location.href='@Url.Action("Index", "Home")'">Something<br /><span class="glyphicon glyphicon-compressed portalGlyph"></span></button>
                <button class="menuBtn" onclick="location.href='@Url.Action("Index", "Home")'">A Button<br /><span class="glyphicon glyphicon-copyright-mark portalGlyph"></span></button>
                <br /><br /><br />
            </div>
        </div>
    </div>
    }
    else {
    <div class="col-lg-9">   
        <div id="notVerifiedMsg" class="container">
            <br />
            <h3>Your account is not verified</h3>
            <h4>This page requires your account to be verified. Please verify your acocunt by clicking the link sent to the email address you provided.</h4>
            <br />
            <h3>Didn't receive an email ?</h3>
            <h4>1) Did you make a mistake when typing your email ? You can check your details on the top right of the page. If this is the case, you must change your email by pressing 'Change login details'. Then, you should resend the confirmation email to the correct address by pressing the 'Send confirmation email' button.</h4>               
            <h4>2) Did you wait long enough ? Sometimes it takes up to few minutes to receive the confirmation email. Please wait for 3 to 4 minutes if you haven't done so.</h4>
            <br />
            <h4 style="display:inline">If none of the above applies:</h4>
            <button style="margin-left:50px; background-color:silver; color:black" type="button" class="btn btn-lg btn-primary" onclick="location.href='@Url.Action("SendConfirmationEmail", "Account")'">Send confirmation email</button>            
            <br /><br />
        </div>
    </div>
    }
    <br />
    <div class="col-lg-3 customCont">
        <br />
        <h3 class="title">My Details <span class="glyphicon glyphicon-user"></span></h3>
        <br />
        <ul class="list-group">
            <li class="list-group-item userDetails"><strong>Full Name: </strong> @Model.FullName</li>
            <li class="list-group-item userDetails"><strong>Phone Number: </strong> @Model.PhoneNumber</li>
            <li class="list-group-item userDetails" style="padding-bottom:35px;"><strong>Email: </strong> @Model.Email</li>
            <hr />
            <li class="list-group-item portalLink"><a onclick="location.href='@Url.Action("ChangeContactDetails", "Manage")'" href="#">Change Contact Details</a></li>
            <li class="list-group-item portalLink"><a onclick="location.href='@Url.Action("ChangeLoginDetails", "Manage")'" href="#">Change Login Details</a></li>
            <li class="list-group-item portalLink">
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('logoutForm').submit()">Log Out</a>
                    }
            </li>
            <li class="list-group-item portalLink deleteAccountLink"><a style="color:red;" onclick="location.href='@Url.Action("DeleteUser", "Account", new { email = User.Identity.Name })'" href="#">Delete Account</a></li>
        </ul>
    </div>
</div>


<style>
    #notVerifiedMsg {
        background:white;
        border: 2px solid lightcoral;
        margin-top:3%;     
    }
    
    #changeLoginForm {
        width: 400px;
        position: absolute;
        right: 500px;
    }

    .portalGlyph {
        font-size: 55px;
    }

    .menuBtn {
        background-color: transparent;
        color: black;
        height: 130px;
        width: 150px;
        font-size: 20px;
        border: none;
    }

    .menuBtn:hover {
        transition: all 0.3s linear;
        background-color: #dee3e8;
        border: none;
        color: black;
    }

    a {
        color: black;
    }

    a:hover {
        color: black;
    }

    body {
        background: #f4f4f4;
    }

    .c {
        border: 2px solid lightgray;
        background: white;
    }

    .accountSection {
        border: 2px solid lightgray;
        background: white;
        font-size: 15px;
    }

    .userDetails {
        height: 27px;
    }

    .list-group-item {
        border-radius: 0;
        border: none;
        outline: none;
    }

    .portalLink {
        height: 39px;
    }

    .portalLink:hover {
        background: lightgray;
        border-radius: 0;
        height: 39px;
        border: none;
        outline: none;
    }

    .deleteAccountLink:hover {
        background-color: lightcoral;
    }
</style>