@{
    Layout = "";
}
@{
    ViewBag.Title = "Map page";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@using CrimeWatch.Models
@model List<Crime>

<style>
    body {
        background: black;
        height: 100%;
    }
</style>


<script>
  
    function initializeMap() {
        var mapPosition = document.getElementById('map');
        var lat = @ViewBag.lat;
        var lng = @ViewBag.lng;
        var initialPosition = { lat: lat, lng: lng};
        var iconBase = 'https://maps.google.com/mapfiles/';       
        var mapOptions = {
            center: initialPosition,
            zoom: 14,
            zoomControl: true,
            zoomControlOptions: {
                position: google.maps.ControlPosition.TOP_RIGHT
            },
            streetViewControl: true,
            streetViewControlOptions: {
                position: google.maps.ControlPosition.TOP_RIGHT
            },
            mapTypeControl: true,
            mapTypeControlOptions: {
                style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                position: google.maps.ControlPosition.TOP_RIGHT
            },
            fullscreenControl: false
        };

        var map = new google.maps.Map(mapPosition, mapOptions);

        var marker = new google.maps.Marker({
            position: initialPosition,
            icon: iconBase + 'arrow.png',
            map: map
        });

        var infowindow = new google.maps.InfoWindow({
            content: "@ViewBag.address",
        });

        marker.addListener('click', function () {
            infowindow.open(map, marker);
        });

        var geocoder = new google.maps.Geocoder();
        document.getElementById('addressSearch2').addEventListener('keypress', function (e) {
            if (e.which == 13) {
                geocodeAddress(geocoder, map);
            }
        });

        addMarkers(map);
    }

    function addMarkers(map) {       
        var crimes = [[]];
        var infowindow = new google.maps.InfoWindow();
        var marker = [], i;
        var filterContainer = document.getElementById('filterContainer');
        var backBtn = document.getElementById('backBtn');
        var searchField = document.getElementById('addressSearch2');
        var autocomplete = new google.maps.places.Autocomplete(searchField);
        @foreach(var crime in Model) {        
            @: crimes.push(["@crime.Latitude", "@crime.Longitude", "@crime.Type", "@crime.Location", "@crime.Outcome"]);
        }
        var types = []; 
        for (i = 0; i < crimes.length; i++) {
            var count = 0;
            types.length = 0;            
            var counter = 0;
            for (var j = 0; j < crimes.length; j++) {
                if (crimes[j][0] == crimes[i][0] && crimes[j][1] == crimes[i][1]) {
                    count++;                    
                }                
            }     
            var label = String(count);
            marker[i] = new google.maps.Marker({                
                position: new google.maps.LatLng(crimes[i][0], crimes[i][1]),
                map: map,
                label:label
            });
            google.maps.event.addListener(marker[i], 'click', (function (marker, i) {
                return function () {
                    infowindow.setContent("<br><p><b>Crime Type: </b> " + crimes[i][2] + "</p><p><b>Location:</b> " + crimes[i][3] + "</p><p><b>Outcome:</b> " + crimes[i][4]);
                    infowindow.open(map, marker[i]);
                }
            })(marker, i));
        }
        var markerCluster = new MarkerClusterer(map, marker, { imagePath: "https://raw.githubusercontent.com/googlemaps/js-marker-clusterer/gh-pages/images/m", maxZoom: 20});
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(backBtn);
        map.controls[google.maps.ControlPosition.LEFT_CENTER].push(filterContainer);
        document.getElementById('loading_div').style.display = "none";
        document.getElementById('map').style.display = "block";
        backBtn.style.display = "block";
        filterContainer.style.display = "block";
    }

    function geocodeAddress(geocoder, resultsMap) {
        var searchField = document.getElementById('addressSearch2').value;
        if (searchField != "") {
            geocoder.geocode({ 'address': searchField }, function (results, status) {
                if (status === 'OK') {
                    resultsMap.zoom = 17;
                    resultsMap.setCenter(results[0].geometry.location);
                   
                } else {
                    alert('The location could not be found.');
                }
            });
        }
    }

</script>
<script src="~/Scripts/markerClustering.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_rXEE2-a_KrNsOkLH0sxMr96NVZjaiTI&libraries=places&callback=initializeMap"></script>
<link href="https://fonts.googleapis.com/css?family=Allerta+Stencil" rel="stylesheet">

<button id="backBtn" class="btn btn-warning" onclick="location.href='@Url.Action("MyPortal", "Home")'"> <span class="glyphicon glyphicon-th"></span> User Portal</button>
<br /><br />

<div id="loading_div">
    <h1 class="title" style="color:white">Loading Map...</h1>
    <br /><br />
    <img src="~/Content/Images/progress_ring.gif" id="progress_ring" />
</div>

<div id="map"></div>

<div class="container customCont" id="filterContainer">
    <form action="/Map/Map" method="post">
        <h3 class="title">Search</h3>
        <br />
        <div class="form-group">
            <p><b>1.</b> Postcode / Address</p>
            <input id="addressSearch2" name="address" type="text" class="form-control" placeholder="@ViewBag.address" value="@ViewBag.address">
        </div>
        <div class="form-group">
            <p>2. Date</p>
            <select class="form-control" name="date"> 
                 <option>
                        @ViewBag.date
                 </option>
                 @foreach (var date in ViewBag.dateDD) {
                    <option> 
                        @date
                  </option>
                  }
            </select>
        </div>
        <div class="form-group">
            <p>3. Crime Categories</p>
              <select class="form-control centeredElement" name="type">
                   @if (ViewBag.type != "All Types") {
                    <option>
                        @ViewBag.type
                    </option>
                   }                   
                   @foreach (var type in ViewBag.typeDD) {
                        <option> 
                            @type
                        </option>
                    }
            </select>
        </div>         
        <input type="submit" class="btn btn-default" value="Submit">
        <br /><br />
    </form>
</div>

