@model CrimeWatch.Models.MapParametersViewModel
@{
    ViewBag.Title = "Map Parameters";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}
<link href="https://fonts.googleapis.com/css?family=Allerta+Stencil" rel="stylesheet">

<div class="row" style="margin-top:8%">    
    <button style="float:left" class="btn btn-warning" onclick="location.href='@Url.Action("MyPortal", "Home")'"> Back to Dashboard</button>
    <div class="container" style="width:400px;">
        <h3 class="title">Set Map Parameters</h3>
        <br />
        <div class="container customCont">
            <br />
            @using (Html.BeginForm("Map", "Map", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger validation-error" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Police_Department)
                    @Html.DropDownListFor(model => model.Police_Department, ConstantStrings.Police_Departments, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Date)
                    @Html.DropDownListFor(model => model.Date, ConstantStrings.Dates, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Type)
                    @Html.DropDownListFor(model => model.Type, ConstantStrings.Crime_Types, new { @class = "form-control" })
                </div>
                <br />
                <input type="submit" class="btn btn-default" value="Submit">
                <button class="btn-xs btn-default" style="float:right; border: 1px solid black; font-size:12px; background-color:lightcoral" id="reset">Reset filters</button>
                <br />
            }
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<style>
    .validation-error {
        font-weight: bold;
        position: relative;
        right: 30px;
    }


    .form-control {
        height: 40px;
    }

        .form-control:focus {
            border-color: #d47e20;
            outline: none;
            box-shadow: inset 0 1px 2px rgba(212,126,32,0.7),0 0 0 0.2em rgba(212,126,32,0.4);
        }

    .customCont {
        height: auto;
        border: 1px solid #d8dee2;
        border-radius: 5px;
        background-color: white;
        width: 300px;
    }

    body {
        color: black;
        background: #f4f4f4;
        font-size: 15px;
    }

    p {
        font-weight: 400;
    }
</style>
