@model CrimeWatch.Models.ChangeContactDetailsViewModel

@{
    ViewBag.Title = "Change Contact Details";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}

<link href="https://fonts.googleapis.com/css?family=Allerta+Stencil" rel="stylesheet">
<br /><br /><br /><br />

<div class="row">
    <button style="float:left" class="btn btn-warning" onclick="location.href='@Url.Action("MyPortal", "Home")'"> Back to Dashboard</button>
    <div class="container customCont">
        <br />
        @using (Html.BeginForm("ChangeContactDetails", "Manage", FormMethod.Post, new { role = "form", name = "my-form" }))
        {
            @Html.AntiForgeryToken()
            <h3 style="font-family:'Allerta Stencil', sans-serif;">Change Contact Details</h3>
            <hr />
            <div class="row">
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="container" style="float:left">
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewFullName, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.NewFullName, new { Value = ViewBag.currentName, @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewPhoneNumber, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.NewPhoneNumber, new { Value = ViewBag.currentPhone, @class = "form-control" })
                    </div>        
                </div>
            </div>
            <br />
            <div class="form-group">
                <button type="submit" class="btn btn-success" id="sbmt">Change Contact details</button>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<style>
    .form-control {
        height: 40px;
        width: 350px;
    }

        .form-control:focus {
            border-color: #d47e20;
            outline: none;
            box-shadow: inset 0 1px 2px rgba(212,126,32,0.7),0 0 0 0.2em rgba(212,126,32,0.4);
        }

    .customCont {
        height: auto;
        border: 1px solid #d8dee2;
        border-radius: 5px;
        background-color: white;
        width: 330px;
    }

    body {
        color: black;
        background: #f4f4f4;
        font-size: 15px;
    }

    p {
        font-weight: 400;
    }
</style>
