@using CrimeWatch.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}

<div class="container" id="loginCont">
    <div class="centeredText">
        <h1 class="title">Log In</h1>
    </div>
    <br />
    <div class="container customCont">
        <br />
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <p>Email</p>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Type your email here." })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <p>Password</p>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Type your password here." })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <br />
            <button class="btn btn-success btn-block" type="submit">Submit</button>
        }
        <div id="createAccountLink">New here? <a href="#" onclick="location.href='@Url.Action("Register", "Account")'">Create an account</a></div>
    </div>
</div>

<style>
    body {
        color: black;
        background: #f4f4f4;
        background-image: url('../../Content/Images/');
        font-size: 15px;
    }
</style>